* {
    margin: 0;
    padding: 0;
}
body {
    background-color: bisque;
}
.box-colores {
    display: flex;
    flex-direction: row;
}
.box-color {
    width: 250px;
    height: 250px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
span {
    color: white;
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.color-darkcyan {
    background-color: darkcyan;
}
.color-coral {
    background-color: coral;
}
.color-aquamarine {
    background-color: aquamarine;
}
.color-196-132-12 {
    background-color: rgb(196, 132, 12);
}
.color-57-3-144 {
    background-color: rgb(57, 3, 144);
}
.color-255-0-0 {
    background-color: rgb(255, 0, 0);
}
.color-678aed {
    background-color: #678aed;
}
.color-777aaa {
    background-color: #777aaa;
}
.color-efe321 {
    background-color: #efe321;
}