*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: center;
}
.style-icon{
    display: inline-block;
    color: rgb(64,64,64);
    padding: 25px 30px;
    font-size: 0.8em;  
    line-height: 1.8em;  
    cursor: pointer;
    color: black;
    font-weight: 600;
    border-bottom: 1px solid rgb(48, 48, 48);
} 
ul{
    width: 80%;
    height: 85px;
    text-align: center;
    border-bottom: 1px solid rgb(64,64,64,.3) ;
}
.texto-nuevo{
    font-size: 0.8em;
    background-color: rgb(250, 142,4);
    padding: 0 4px;
    border-radius: 3px;
    color: white;
}

    
